p {
  font-family: Lato;
}

.container {
  /* background-color: cyan; */
  width: 45px;
  display: flex;
  transition:  1.5s;
  transition-property: all;
  overflow-x: hidden;
}

.add-item {
 opacity: 1;
 transition: opacity 1.5s ease-out;
 visibility: visible;
}

.hide-add {
   opacity: 0;
   visibility: hidden;
}

.new-section {
  display: flex;
  /* visibility: hidden; */
}

.container-add {
  width: 450px;
  transform: translateX(-40px);
}

.a {
  display: flex;
}

button , input , select{
  margin: 5px;
}

.wrapper {
  display: flex;
  width: 750px;
}

.final{
  margin-left: auto;
}