p {
  font-family: Lato;
}

.container {
  /* background-color: cyan; */
  width: 40px;
  display: flex;
  transition:  1s;
  transition-property: all;
  overflow-x: hidden;
}

.add-item {
  opacity: 1;
 transition: opacity 1s ease-out;
 visibility: visible;
}

.hide-add {
   opacity: 0;
   visibility: hidden;
}

.new-section {
  display: flex;
  /* visibility: hidden; */
}

.container-add {
  width: 400px;
  transform: translateX(-40px);
}

.a {
  display: flex;
}